.is-visible {
  display: block;
}

.blur {
  height: 100%;
  width: 100%;
  top: 0;
  left: 200;
  background-color: black;
  opacity: 0.5;
}

.hidden {
  display: none;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fadeInUp {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  opacity: 0;
  animation-name: fadeInUp;
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, -40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fadeInDown {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  opacity: 0;
  animation-name: fadeInDown;
}

@keyframes fadeOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }
}

.fadeOutDown {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  opacity: 1;
  animation-name: fadeOutDown;
}

@keyframes fadeInRight {
  from {
    transform: translate3d(40px, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fadeInRight {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  opacity: 0;
  animation-name: fadeInRight;
}

@keyframes fadeOutRight {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  to {
    transform: translate3d(40px, 0, 0);
    opacity: 0;
  }
}

.fadeOutRight {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  opacity: 1;
  animation-name: fadeOutRight;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes keydown {
  0%{
    margin: 0px;
  }

  50% {
    margin-top: 6px;
    margin-bottom: -6px;
  }

  100%{
    margin: 0px;
  }
}

.keydown {
  animation-name: keydown;
  animation-iteration-count: 1;
  animation-timing-function: steps(2, end);
  animation-duration: 0.1s;
}

@keyframes keyboardDwellAnimation-circle {
  from {
      opacity: 0;
      transform: scale(0.75);
  }

  to {
      opacity: 0.7;
      transform: scale(0);
  }
}

@keyframes overlayDwellAnimation-circle {
  from {
    opacity: 0;
    transform: scale(1);
  }
  to {
    opacity: 0.6;
    transform: scale(0);
  }
}

@keyframes overlayDwellAnimation-fillEye {
  from {
    clip-path: inset(100% 0 0 0);
  }

  to {
    clip-path: inset(0% 0 0 0);
  }
}

@keyframes slide-fill {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}

.border-animation {
  position: relative;
  z-index: 1;
  overflow-x: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: linear-gradient(to right, transparent, #69adff, transparent);
    animation: slide-fill 0.8s linear alternate 1;
  }

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 15px;
    top: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 11px 11px #ffffff;
  }
}