html {
    overflow: hidden;
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e6e6ebfa;
    text-align: center;

    .error-box {
        display: flex;
        flex-direction: column;
        background: white;
        padding: 60px 100px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
        min-width: 700px;
        width: 45vw;
        gap: 25px;
        align-items: center;

        img {
            width: 100px;
            height: auto;
            margin-bottom: 20px;
        }

        h1 {
            font-size: 3.75rem;
            color: $darkred;
        }

        p {
            font-size: 1.6rem;
            color: #6c757d;
            margin-bottom: 25px;
            line-height: 1.8rem;
        }

        button {
            width: 70%;
            background-color: $blue-light;
            color: $blue-2;
            border: none;
            padding: 20px 20px;
            font-size: 1.75rem;
            border-radius: 5px;
            transition: background-color 0.3s;

            &:hover {
                background-color: darken($blue-light, 10%);
            }
        }
    }
}
