.keyboard {
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
    background: #023B4F;
    user-select: none;
    gap: 10px;
   
    &__textbox-area {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        gap: 10px;
    }

    &__textbox {
        flex-grow: 3;
        resize: none;
        font-size: 2rem;
    }

    &__arrow-keys {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 6px;

        &--row {
            display: flex;
            flex-direction: row;
            height: 100%;
            gap: 6px;
        }
    }

    &__keys {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    &__key {
        @extend .keyboardDwellBtn;
        height: 12vh;
        flex-grow: 1;
        background: rgba(255,255,255,0.2);
        border-radius: 4px;
        border: none;
        font-size: 1.6rem;
        outline: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: top;
        padding: 0;
        position: relative;
        -webkit-tap-highlight-color: transparent;

        &--arrow {
            margin: 0;
        }

        &--equal-width {
            flex-basis: 100%;
        }

        &--wide { // shift and enter keys
            flex-basis: 150%;
        }

        &--wider { //  text suggestions and done key
            flex-grow: 2;
        }


        &--widest { // space bar
            flex-grow: 3;
        }


        &--dark { // text suggestions
            background: rgba(255, 255, 255, 0.12);
            font-size: 1.4rem;
        }


        &--darker {
            background: rgba(0, 0, 0, 0.25);
            font-size: 1.4rem;
        }
       
        &--yellow-border { // done key
            border: 2px solid rgb(224, 224, 0);
        }
       
        &--activatable::after {
            content: '';
            position: absolute;
            top: 10px;
            right: 10px;
            width: 7px;
            height: 7px;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 50%;
        }

        &--active::after{
            background: #08FF00;
        }
    }  

    &__row {
        display: flex;
        width: 100%;
        gap: 10px;
    }
}