:root {
  --bs-body-bg: #d5e5df;
  /* --bs-body-bg: #cddcd6; */
  /* --bs-body-bg: #e0e0db; */
}

body {
  font-family: 'Inter', sans-serif;
}

.active {
  font-weight: bold;
}


/* ------------------ */
/*   Navigation Bar   */
/* ------------------ */

.navbar-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar-title {
  height: 26px;
  object-fit: contain;
  margin-left: 0.75rem;
}

.navbar {
  transition: top 0.4s;
}


/* ----------------- */
/*    Hero Section   */
/* ----------------- */

.hero {
  height: calc(100% - 90px);
  display: flex;
  align-items: center;
  background-image: url('/docs/assets/hero-background.png');
  background-size: cover;
}

.hero-content {
  padding-top: 10vh;
}

.hero-image {
  max-width: 80%;
  height: auto;
}

.hero-title-main {
  max-width: 85%;
  height: auto;
}

@media (max-width: 991.98px) {
  .hero-vh {
    min-height: calc(100vh - 56px);
    /* 56px is the Bootstrap mobile navbar height */
  }

  .hero-content {
    padding-top: 3vh;
  }

  .hero-image {
    max-width: 70%;
  }
}


/* ---------------- */
/*  Curved Divider  */
/* ---------------- */

.curved {
  position: relative;
  width: 100%;
  overflow: visible;
  line-height: 0;
}

.curved svg {
  display: block;
  width: 100%;
  height: 100px;
}

.curved .shape-fill {
  fill: #d5e5df;
  /* hero background color */
}


/* ----------------- */
/*  Arrow animation  */
/* ----------------- */

.arrow-container {
  position: sticky;
  bottom: 30px;
}

.arrows {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-10%, -50%);
}

.arrows:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: calc(80px/3) solid rgba(0, 0, 0, 0.3);
  border-bottom: calc(80px/3) solid rgba(0, 0, 0, 0.3);
  transform: translate(calc(80px/3), calc(80px*4/3))rotate(-45deg);
  animation: arrows 3s linear infinite;
}

.arrows:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: calc(80px/3) solid rgba(0, 0, 0, 0.3);
  border-bottom: calc(80px/3) solid rgba(0, 0, 0, 0.3);
  transform: translate(calc(80px*2/3), 0px)rotate(-45deg);
  animation: arrows 3s linear infinite calc(3s/-2);
}

@keyframes arrows {
  0% {
    border-left: calc(80px/3) solid rgba(0, 0, 0, 0);
    border-bottom: calc(80px/3) solid rgba(0, 0, 0, 0);
    transform: translate(calc(80px/-6), calc(80px*4/-6))rotate(-45deg);
  }

  10%, 70% {
    border-left: calc(80px/3) solid rgba(0, 0, 0, 0);
    border-bottom: calc(80px/3) solid rgba(0, 0, 0, 0);
  }

  40% {
    border-left: calc(80px/3) solid rgba(0, 0, 0, 0.7);
    border-bottom: calc(80px/3) solid rgba(0, 0, 0, 0.7);
    transform: translate(calc(80px/-6), 0px)rotate(-45deg);
  }

  80%, 100% {
    border-left: calc(80px/3) solid rgba(0, 0, 0, 0);
    border-bottom: calc(80px/3) solid rgba(0, 0, 0, 0);
    transform: translate(calc(80px/-6), calc(calc(80px*4)/6))rotate(-45deg);
  }
}


/* -------------------- */
/*  Contact Us Section  */
/* -------------------- */

.contact-section {
  background: #f8f9fa;
  overflow: visible;
  position: relative;
}

.contact-cacti-bg {
  opacity: 0.25;
  pointer-events: none;
  object-fit: cover;
}