:root {
  --bs-body-bg: #d5e5df;
  /* --bs-body-bg: #cddcd6; */
  /* --bs-body-bg: #e0e0db; */

  --arrow-size: 30px;
  /* default size */
  --arrow-border: calc(var(--arrow-size) / 3);
}

@media (min-width: 992px) {
  :root {
    --arrow-size: 60px;
    /* bigger arrows on desktops */
    --arrow-border: calc(var(--arrow-size) / 3);
  }
}

body {
  font-family: 'Inter', sans-serif;
}

.active {
  font-weight: bold;
}


/* ------------------ */
/*   Navigation Bar   */
/* ------------------ */

.navbar-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar-title {
  height: 26px;
  object-fit: contain;
  margin-left: 0.75rem;
}

.navbar {
  transition: top 0.4s;
}


/* ----------------- */
/*    Hero Section   */
/* ----------------- */

.hero {
  height: calc(100% - 90px);
  display: flex;
  align-items: center;
  background-image: url('/docs/assets/hero-background.png');
  background-size: cover;
}

.hero-content {
  padding-top: 10vh;
}

.hero-image {
  max-width: 80%;
  height: auto;
}

.hero-button {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 1.25rem 5rem;
}

.hero-title-main {
  max-width: 85%;
  height: auto;
}

.hero-description {
  text-align: center;
}

@media (max-width: 991.98px) {
  .hero-vh {
    min-height: calc(100vh - 56px);
    /* 56px is the Bootstrap mobile navbar height */
  }

  .hero-content {
    padding-top: 3vh;
  }

  .hero-image {
    max-width: 70%;
  }
}


/* ---------------- */
/*  Curved Divider  */
/* ---------------- */

.curved {
  position: relative;
  width: 100%;
  overflow: visible;
  line-height: 0;
}

.curved svg {
  display: block;
  width: 100%;
  height: 100px;
}

.curved .shape-fill {
  fill: #d5e5df;
  /* hero background color */
}


/* ----------------- */
/*  Arrow animation  */
/* ----------------- */

.arrows {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--arrow-size);
  height: var(--arrow-size);
  transform: translate(-50%, -50%);
}

.arrows:before,
.arrows:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: var(--arrow-border) solid rgba(0, 0, 0, 0.7);
  border-bottom: var(--arrow-border) solid rgba(0, 0, 0, 0.7);
  animation: arrows 3s linear infinite;
}

.arrows:before {
  transform: translate(calc(var(--arrow-size) / 3),
      calc(var(--arrow-size) * 4 / 3)) rotate(-45deg);
}

.arrows:after {
  transform: translate(calc(var(--arrow-size) * 2 / 3),
      0px) rotate(-45deg);
  animation-delay: -1.5s;
  /* half of 3s */
}

@keyframes arrows {
  0% {
    border-left: var(--arrow-border) solid rgba(0, 0, 0, 0);
    border-bottom: var(--arrow-border) solid rgba(0, 0, 0, 0);
    transform: translate(calc(var(--arrow-size) / -6),
        calc(var(--arrow-size) * -4 / 6)) rotate(-45deg);
  }

  10%, 90% {
    border-left: var(--arrow-border) solid rgba(0, 0, 0, 0);
    border-bottom: var(--arrow-border) solid rgba(0, 0, 0, 0);
  }

  50% {
    border-left: var(--arrow-border) solid rgba(0, 0, 0, 0.7);
    border-bottom: var(--arrow-border) solid rgba(0, 0, 0, 0.7);
    transform: translate(calc(var(--arrow-size) / -6),
        0px) rotate(-45deg);
  }

  100% {
    border-left: var(--arrow-border) solid rgba(0, 0, 0, 0);
    border-bottom: var(--arrow-border) solid rgba(0, 0, 0, 0);
    transform: translate(calc(var(--arrow-size) / -6),
        calc(var(--arrow-size) * 4 / 6)) rotate(-45deg);
  }
}


/* -------------------- */
/*  Contact Us Section  */
/* -------------------- */

.contact-section {
  background: #f8f9fa;
  overflow: visible;
  position: relative;
}

.contact-cacti-bg {
  opacity: 0.25;
  pointer-events: none;
  object-fit: cover;
}